#sidebar{
    padding:15px 10px 15px 0;
    z-index: 1001;
}
#sidebar a{
    color:#8b9199;
}
#sidebar a:hover{
   color: #fff
}
#sidebar a.selected{
    color: #FF6C60;
}

.menuItem{
    padding-left: 15px;
    line-height: 36px;
}
.menuItem>li>div>ul{display: none;}
.menuItem>li.active>div>ul{display: block;}
.menu-icon{margin-right: 5px;}
.arrow{
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #A0A0A0;
    border-top: 4px solid transparent;
    height: 0;
    margin-right: 10px;
    margin-top: 6px;
    width: 0;
}
.arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #A0A0A0;
}
